.modal{
    border: none;
    border-radius: 8px;
    padding: 1.5rem 2rem;

    background-color: #E7ECEF;
}

.center-button-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
}

.modal[open] {
    animation: slide-in-from-top 0.35s ease-out;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.9);
}

.modal-button-container-of-doom{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media screen and (max-width: 697px){
    .modal{
        padding: 1rem;
    }
}